/* Colocando uma classe : .nomedaclasse { propiedade: valor; }. */

/* Colocando uma id: #nomedoid { propidade : valor; }   */	

	.nomedaclasse {

	color: red;
	
	}

	#nomedoid {

		background: pink;
	}
